.admin-container {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;

    .form-wrapper {
        max-width: 550px;
        margin: auto;
        
        .form-header {
            h1 {
                @extend .special-font;
                margin-bottom: 20px;
            }
        }
        .login-form {
            form {
                @extend .form-layout;
            }
        }
    }
}