.compare-nft {
    .nft-container {
        .heading {
            h1 {
                @extend .special-font;
                margin-bottom: 20px;
            }
        }
        .left-block {
            padding-left: 0;
            
            @include max-media($md) {
                padding-right: 0;
            }
        }
        .right-block {
            padding-right: 0;

            @include max-media($lg) {
                padding-left: 0;
            }
            .image{
                display: none
            }
        }
        .compare-nft-form {
            form {
                @extend .form-layout;
                .select-group {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .compare-sign {
                        margin: 25px 30px 0px;
                        @include max-media($sm) {
                            margin: 24px 10px 0px;
                        }
                        .compare-btn {
                            border: none;
                            outline: none;
                            box-shadow: none;
                            background-color: transparent;
                        }
                    }
                    .form-group {
                        width: 100%;
                        text-align: center;
                        label {
                            padding: 0;
                        }
                    }
                }

                .diff-result {
                    .result-containers {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: stretch;
                        margin-right: -15px;
                        margin-left: -15px;
                        justify-content: center;
                        .result-box {
                            // margin-top: 30px;
                            max-width: 33.33%;
                            flex: 0 0 33.33%;
                            padding: 0px 15px;
                            @include max-media($xl-1) {
                                max-width: 50%;
                                flex: 0 0 50%;
                                padding: 0px 20px;
                                &:nth-child(1){
                                    order: 1;
                                }
                                &:nth-child(2){
                                    order: 3;
                                }
                                &:nth-child(3){
                                    order: 2;
                                }
                            }
                            @include max-media(660px) {
                                max-width: 100%;
                                flex: 0 0 100%;
                            }
                            .box-wrapper {
                                height: 100%;
                                background-color: $white;
                                border-radius: 30px;
                                overflow: hidden;
                                .header {
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    padding: 15px;
                                    height: 90px;
                                    .image {
                                        min-width: 62px;
                                        width: 62px;
                                        height: 62px;
                                        margin-right: 15px;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            height: 100%;
                                            object-fit: cover;
                                            border-radius: 50%
                                        }
                                    }
                                    h3 {
                                        @extend .bold-18;
                                        color: $black;
                                        margin: 0;
                                        width: 100%;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                    &.diff-head {
                                        flex-direction: column;
                                        justify-content: center;
                                        .small-heading {
                                            @extend .bold-14;
                                            text-transform: uppercase;
                                            color: $black;
                                        }
                                        .heading {
                                            @extend .bold-16;
                                            color: $black;
                                            width: 100%;
                                            max-width: 100%;
                                            display: flex;
                                            justify-content: space-between;
                                            span{
                                                display: inline-block;
                                                vertical-align: middle;
                                                line-height: normal;
                                            }
                                            .nft-name{
                                                width: 40%; 
                                                height: 50px;
                                                text-align: center;
                                                overflow: hidden;
                                                text-overflow: ellipsis; 
                                                white-space: nowrap; 
                                            }
                                        }
                                    }
                                }
                                .body {
                                    .stats {
                                        width: 100%;
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: stretch;
                                        width: 100%;
                                        .item {
                                            border-top: 1px dashed $darkblue1;
                                            flex: 0 0 33.33%;
                                            max-width: 33.33%;
                                            padding: 15px;
                                            text-align: center;
                                            &.br-none {
                                                border-right: none !important;
                                            }
                                            &:not(:last-child){
                                                border-right: 1px dashed $darkblue1;
                                            }
                                            .title {
                                                @extend .bold-14;
                                                color: $black;
                                            }
                                            .number {
                                                @extend .bold-20;
                                                color: $saffron;
                                                .plus-val small{
                                                    color: green;
                                                }
                                                .minus-val small{
                                                    color: red;
                                                }
                                            }
                                        }
                                        &.diff-stats {
                                            .item{
                                                flex: 0 0 50%;
                                                max-width: 50%;
                                            }
                                        }
                                    }
                                }

                                .nftdetail-loading{
                                    min-height: 250px;
                                    @extend .std-loading-design;
                                }
                            }
                        }
                    }
                }
            }
        }
        .comparison-graph {
            margin-top: 50px;
            .box-modal {
                padding: 30px;
                border-radius: 20px;
                background-color: $darkblue2;
                box-shadow: 0px 0px 20px 0px $black;
                @include max-media($sm) {
                    padding: 20px 0px 10px 0px;
                }
                .graph-wrapper {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
        .image {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.graph-duration-container{
    // button{
    //     border: none;
    //     outline: none;
    //     background-color: ;
    // }
    margin-bottom: 10px;
    .graph-duration-content{
        display: flex;
        align-items: center;
        font-family: $nunito-fonts;
        .title{
            display: inline-block;
            margin-right: 5px;
            font-weight: 400;
        }
        .graph-duration-wrapper{
            position: relative;
            display: inline-block;
            input{
                background: #072e60;
                border: none;
                outline: none;
                padding: 6px 8px;
                border-radius: 4px;
                color: #d7dde6;
                width: 100px;
                font-family: $nunito-fonts;
                text-align: left;
                cursor: pointer;
                background-image: url('/images/down.png');
                background-repeat: no-repeat;
                background-position: 90% center;
                background-size: 10px;
            }
            #option-container{
                display: block;
                position: absolute;
                top: 100%;
                width: 100%;
                border-radius: 4px;
                overflow: hidden;
                display: none;
                border: 1px solid #011126;
                .option{
                    font-family: $nunito-fonts;
                    cursor: pointer;
                    display: block;
                    padding: 5px 5px;
                    background-color: #011126;
                    text-align: left;
                    transition: 0.2s;
                    &:hover{
                        background-color: #041d3d;
                    }
                }
            }
        }
    }
}