@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #EDF5FF;
}

.bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
  font-size: 70px;
  font-weight: 600;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 76px;
}
@media (max-height: 800px) {
  .bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 66px;
  }
}
@media (max-width: 1200px) {
  .bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
    font-size: 60px;
    font-weight: 600;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 66px;
  }
}
@media (max-width: 992px) {
  .bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 55px;
  }
}
@media (max-width: 768px) {
  .bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
    font-size: 45px;
    font-weight: 600;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .bold-70, main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 40px;
  }
}

.bold-40, main section.token .token-container .token-wrapper .heading h2, main section.roadmap .roadmap-container .heading h2, main section.features .features-container .features-wrapper .heading h2 {
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 53px;
}
@media (max-width: 992px) {
  .bold-40, main section.token .token-container .token-wrapper .heading h2, main section.roadmap .roadmap-container .heading h2, main section.features .features-container .features-wrapper .heading h2 {
    font-size: 35px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 45px;
  }
}
@media (max-width: 768px) {
  .bold-40, main section.token .token-container .token-wrapper .heading h2, main section.roadmap .roadmap-container .heading h2, main section.features .features-container .features-wrapper .heading h2 {
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 36px;
  }
}
@media (max-width: 576px) {
  .bold-40, main section.token .token-container .token-wrapper .heading h2, main section.roadmap .roadmap-container .heading h2, main section.features .features-container .features-wrapper .heading h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 28px;
  }
}

.bold-26, main section.token .token-container .token-wrapper .stats-content .content p, main section.token .token-container .token-wrapper .stats-content .stats .field span, main section.features .features-container .features-wrapper .body .feature-items .feature .header h4, main section.services .services-container .body .service-items .item .wrapper .header h3, .special-font, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 35px;
}
@media (max-width: 768px) {
  .bold-26, main section.token .token-container .token-wrapper .stats-content .content p, main section.token .token-container .token-wrapper .stats-content .stats .field span, main section.features .features-container .features-wrapper .body .feature-items .feature .header h4, main section.services .services-container .body .service-items .item .wrapper .header h3, .special-font, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 {
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .bold-26, main section.token .token-container .token-wrapper .stats-content .content p, main section.token .token-container .token-wrapper .stats-content .stats .field span, main section.features .features-container .features-wrapper .body .feature-items .feature .header h4, main section.services .services-container .body .service-items .item .wrapper .header h3, .special-font, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 24px;
  }
}

.std-22, main section.services .services-container .heading h2, main section.hero-section .hero-container .hero-wrapper .left-block .hero-content p {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 30px;
}
@media (max-width: 768px) {
  .std-22, main section.services .services-container .heading h2, main section.hero-section .hero-container .hero-wrapper .left-block .hero-content p {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .std-22, main section.services .services-container .heading h2, main section.hero-section .hero-container .hero-wrapper .left-block .hero-content p {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 24px;
  }
}

.bold-20, footer .footer-wrapper .footer-container .footer-content p, main section.token .token-container .token-wrapper .stats-content .note p, main section.features .features-container .features-wrapper .body .feature-items .feature .content p, main section.services .services-container .body .service-items .item .wrapper .content p, header .navbar .nav-wrapper .mobile-nav ul li a, header .navbar .nav-wrapper .navlinks-container ul li a, .std-btn, main section.token .token-container .token-wrapper .stats-content .stat-action a, main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 27px;
}
@media (max-width: 576px) {
  .bold-20, footer .footer-wrapper .footer-container .footer-content p, main section.token .token-container .token-wrapper .stats-content .note p, main section.features .features-container .features-wrapper .body .feature-items .feature .content p, main section.services .services-container .body .service-items .item .wrapper .content p, header .navbar .nav-wrapper .mobile-nav ul li a, header .navbar .nav-wrapper .navlinks-container ul li a, .std-btn, main section.token .token-container .token-wrapper .stats-content .stat-action a, main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 24px;
  }
}

.std-18, main section.roadmap .roadmap-container .body .items .item .wrapper .list ul li {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-family: "Sen", sans-serif;
  line-height: 24px;
}
@media (max-width: 576px) {
  .std-18, main section.roadmap .roadmap-container .body .items .item .wrapper .list ul li {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-family: "Sen", sans-serif;
    line-height: 20px;
  }
}

.special-font, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 {
  position: relative;
}
.special-font::before, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4::before, .special-font::after, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  background-color: #011126;
}
.special-font::before, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4::before {
  width: 30px;
  left: 0;
}
.special-font::after, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4::after {
  left: 33px;
  width: 15px;
}
.special-font .highlight::before, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 .highlight::before, .special-font .highlight::after, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 .highlight::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 1px;
  background-color: #011126;
}
.special-font .highlight::before, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 .highlight::before {
  width: 8px;
  left: 51px;
}
.special-font .highlight::after, main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 .highlight::after {
  width: 4px;
  left: 62px;
}

.container-lg {
  transition: max-width 0.3s;
}

.box-edge {
  background-color: transparent;
}
.box-edge .triangle {
  width: 100%;
  height: 80px;
}
@media (max-width: 576px) {
  .box-edge .triangle {
    height: 50px;
  }
}
.box-edge.bottom .triangle {
  border-radius: 0px 0px 0px 50px;
  background-color: #ffffff;
  clip-path: polygon(0% 104%, 0% 0%, 96% 0%);
}
@media (max-width: 576px) {
  .box-edge.bottom .triangle {
    border-radius: 0px 0px 0px 20px;
  }
}
.box-edge.top .triangle {
  border-radius: 0px 50px 0px 0px;
  background-color: #ffffff;
  -webkit-clip-path: polygon(100% -6%, 100% 100%, 6% 100%);
  clip-path: polygon(100% -6%, 100% 100%, 6% 100%);
}
@media (max-width: 576px) {
  .box-edge.top .triangle {
    border-radius: 0px 20px 0px 0px;
  }
}

.dots::after, .dots::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: grey;
  z-index: -1;
  border-radius: 50px;
}
.dots.one::after {
  top: 12%;
  left: 5%;
  background-color: #53EAE5;
  animation: animateDotsOneAfter 24s linear infinite;
}
.dots.one::before {
  top: 12%;
  left: 60%;
  background-color: #F8D943;
  animation: animateDotsOneBefore 15s linear infinite;
}
.dots.two::after {
  top: 50%;
  left: 10%;
  background-color: #FF804D;
  animation: animateDotsTwoAfter 25s linear infinite;
}
.dots.two::before {
  top: 40%;
  left: 52%;
  background-color: #B54DDA;
  animation: animateDotsTwoBefore 18s linear infinite;
}
.dots.three::after {
  top: 88%;
  left: 23%;
  background-color: #5B91FB;
  animation: animateDotsThreeAfter 20s linear infinite;
}
.dots.three::before {
  top: 79%;
  left: 56%;
  background-color: #23B574;
  animation: animateDotsThreeBefore 45s linear infinite;
}

.std-btn, main section.token .token-container .token-wrapper .stats-content .stat-action a, main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a {
  border: 5px solid;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 13px 30px;
}
@media (max-width: 576px) {
  .std-btn, main section.token .token-container .token-wrapper .stats-content .stat-action a, main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a {
    padding: 10px 20px;
  }
}

.dashed-line {
  position: fixed;
  top: 0;
  width: 1px;
  height: 100%;
  background-image: url(../images/line.png);
  background-repeat: repeat;
}
.dashed-line.first {
  left: 20%;
}
.dashed-line.second {
  left: 50%;
}
.dashed-line.third {
  left: 80%;
}

@keyframes animateDotsOneAfter {
  0% {
    top: 12%;
    left: 5%;
  }
  10% {
    top: 12%;
    left: 25%;
  }
  20% {
    top: 32%;
    left: 25%;
  }
  30% {
    top: 32%;
    left: 45%;
  }
  40% {
    top: 42%;
    left: 45%;
  }
  50% {
    top: 42%;
    left: 55%;
  }
  60% {
    top: 42%;
    left: 45%;
  }
  70% {
    top: 32%;
    left: 45%;
  }
  80% {
    top: 32%;
    left: 25%;
  }
  90% {
    top: 12%;
    left: 25%;
  }
  100% {
    top: 12%;
    left: 5%;
  }
}
@keyframes animateDotsOneBefore {
  0% {
    top: 12%;
    left: 60%;
  }
  10% {
    top: 12%;
    left: 40%;
  }
  20% {
    top: 22%;
    left: 40%;
  }
  30% {
    top: 22%;
    left: 20%;
  }
  40% {
    top: 2%;
    left: 20%;
  }
  50% {
    top: 2%;
    left: 0%;
  }
  60% {
    top: 2%;
    left: 20%;
  }
  70% {
    top: 22%;
    left: 20%;
  }
  80% {
    top: 22%;
    left: 40%;
  }
  90% {
    top: 12%;
    left: 40%;
  }
  100% {
    top: 12%;
    left: 60%;
  }
}
@keyframes animateDotsTwoAfter {
  0% {
    top: 50%;
    left: 10%;
  }
  10% {
    top: 50%;
    left: 30%;
  }
  20% {
    top: 60%;
    left: 30%;
  }
  30% {
    top: 60%;
    left: 60%;
  }
  40% {
    top: 70%;
    left: 60%;
  }
  50% {
    top: 70%;
    left: 50%;
  }
  60% {
    top: 70%;
    left: 60%;
  }
  70% {
    top: 60%;
    left: 60%;
  }
  80% {
    top: 60%;
    left: 30%;
  }
  90% {
    top: 50%;
    left: 30%;
  }
  100% {
    top: 50%;
    left: 10%;
  }
}
@keyframes animateDotsTwoBefore {
  0% {
    top: 40%;
    left: 52%;
  }
  10% {
    top: 40%;
    left: 32%;
  }
  20% {
    top: 60%;
    left: 32%;
  }
  30% {
    top: 60%;
    left: 52%;
  }
  40% {
    top: 80%;
    left: 52%;
  }
  50% {
    top: 80%;
    left: 72%;
  }
  60% {
    top: 80%;
    left: 52%;
  }
  70% {
    top: 60%;
    left: 52%;
  }
  80% {
    top: 60%;
    left: 32%;
  }
  90% {
    top: 40%;
    left: 32%;
  }
  100% {
    top: 40%;
    left: 52%;
  }
}
@keyframes animateDotsThreeAfter {
  0% {
    top: 88%;
    left: 23%;
  }
  10% {
    top: 88%;
    left: 43%;
  }
  20% {
    top: 68%;
    left: 43%;
  }
  30% {
    top: 68%;
    left: 63%;
  }
  40% {
    top: 88%;
    left: 63%;
  }
  50% {
    top: 88%;
    left: 83%;
  }
  60% {
    top: 88%;
    left: 63%;
  }
  70% {
    top: 68%;
    left: 63%;
  }
  80% {
    top: 68%;
    left: 43%;
  }
  90% {
    top: 88%;
    left: 43%;
  }
  100% {
    top: 88%;
    left: 23%;
  }
}
@keyframes animateDotsThreeBefore {
  0% {
    top: 79%;
    left: 23%;
  }
  10% {
    top: 99%;
    left: 5%;
  }
  20% {
    top: 69%;
    left: 5%;
  }
  30% {
    top: 99%;
    left: 95%;
  }
  40% {
    top: 69%;
    left: 95%;
  }
  50% {
    top: 79%;
    left: 23%;
  }
  60% {
    top: 69%;
    left: 95%;
  }
  70% {
    top: 99%;
    left: 95%;
  }
  80% {
    top: 69%;
    left: 5%;
  }
  90% {
    top: 99%;
    left: 5%;
  }
  100% {
    top: 79%;
    left: 23%;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: #EDF5FF;
}
header .dashed-line {
  position: absolute;
}
header .navbar .nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar .nav-wrapper .nav-brand {
  position: relative;
  z-index: 4;
}
@media (max-width: 768px) {
  header .navbar .nav-wrapper .nav-brand .brand-link img {
    width: 120px;
    height: auto;
  }
}
@media (max-width: 576px) {
  header .navbar .nav-wrapper .nav-brand .brand-link img {
    width: auto;
    height: 60px;
  }
}
header .navbar .nav-wrapper .navlinks-container .hemburger {
  display: none;
}
@media (max-width: 768px) {
  header .navbar .nav-wrapper .navlinks-container .hemburger {
    display: block;
  }
  header .navbar .nav-wrapper .navlinks-container .hemburger button {
    display: block;
    background-color: transparent;
    width: 30px;
    border: none;
    outline: none;
    transition: transform 0.3s;
  }
  header .navbar .nav-wrapper .navlinks-container .hemburger button span {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 6px;
    background-color: #011126;
    transition: transform 0.3s, background-color 0.3s;
  }
  header .navbar .nav-wrapper .navlinks-container .hemburger button span:nth-last-child(1) {
    margin-bottom: 0px;
  }
}
header .navbar .nav-wrapper .navlinks-container .openup button {
  transform: rotate(180deg);
}
header .navbar .nav-wrapper .navlinks-container .openup button span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
header .navbar .nav-wrapper .navlinks-container .openup button span:nth-child(2) {
  background-color: transparent;
}
header .navbar .nav-wrapper .navlinks-container .openup button span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}
header .navbar .nav-wrapper .navlinks-container ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
}
@media (max-width: 768px) {
  header .navbar .nav-wrapper .navlinks-container ul {
    display: none;
  }
}
header .navbar .nav-wrapper .navlinks-container ul li {
  margin: 0px 15px;
}
header .navbar .nav-wrapper .navlinks-container ul li a {
  display: inline-block;
  text-decoration: none;
  color: #011126;
  text-transform: uppercase;
  position: relative;
}
header .navbar .nav-wrapper .navlinks-container ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: #011126;
  margin-top: 5px;
  transition: width 0.3s;
}
header .navbar .nav-wrapper .navlinks-container ul li a:hover::after {
  width: 100%;
}
header .navbar .nav-wrapper .mobile-nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #EDF5FF;
  z-index: -1;
  box-shadow: 0px 0px 20px 0px #EDF5FF;
}
header .navbar .nav-wrapper .mobile-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
header .navbar .nav-wrapper .mobile-nav ul li {
  position: relative;
}
header .navbar .nav-wrapper .mobile-nav ul li:not(:nth-last-child(1))::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: url(../images/horizontal-divider.svg);
  background-repeat: no-repeat;
}
header .navbar .nav-wrapper .mobile-nav ul li a {
  color: #011126;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 20px;
  text-transform: uppercase;
}

main {
  padding-top: 110px;
}
@media (max-width: 768px) {
  main {
    padding-top: 88px;
  }
}
main section {
  padding: 45px 60px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1200px) {
  main section {
    padding: 40px 50px;
  }
}
@media (max-width: 992px) {
  main section {
    padding: 30px 40px;
  }
}
@media (max-width: 768px) {
  main section {
    padding: 30px 20px;
  }
}
@media (max-width: 576px) {
  main section {
    padding: 20px 10px;
  }
}
@media (max-height: 860px) {
  main section.hero-section {
    padding-top: 0;
  }
}
main section.hero-section .hero-container {
  height: calc(100vh - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
  background-color: #ffffff;
  border-radius: 50px 50px 50px 0px;
  position: relative;
  z-index: 9;
}
@media (max-width: 992px) {
  main section.hero-section .hero-container {
    height: auto;
    padding: 60px 50px;
  }
}
@media (max-height: 860px) {
  main section.hero-section .hero-container {
    height: auto;
    padding-top: 60px;
  }
}
@media (max-width: 576px) {
  main section.hero-section .hero-container {
    padding: 0;
    padding-top: 30px;
    border-radius: 20px 20px 20px 0px;
  }
}
@media (max-width: 576px) {
  main section.hero-section .hero-container .hero-wrapper .left-block {
    text-align: center;
  }
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-header {
  margin-bottom: 20px;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 {
  color: #011126;
  margin: 0;
  text-transform: uppercase;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 .highlight {
  color: #F29125;
}
@media (max-width: 768px) {
  main section.hero-section .hero-container .hero-wrapper .left-block .hero-header h1 .text-nowrap {
    white-space: normal !important;
  }
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-content {
  margin-bottom: 30px;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-content p {
  color: #011126;
  margin: 0;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions {
  white-space: nowrap;
}
@media (max-width: 768px) {
  main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions {
    white-space: normal;
  }
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.3s, color 0.3s;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a svg {
  margin-right: 15px;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a svg path {
  transition: fill 0.3s;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.youtube {
  border-color: #F29125;
  color: #F29125;
  margin-right: 20px;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.youtube:hover {
  background-color: #F29125;
  color: #ffffff;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.youtube:hover svg path {
  fill: #ffffff;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.app {
  border-color: #011126;
  background-color: #011126;
  color: #fff;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.app:hover {
  background-color: transparent;
  color: #011126;
}
main section.hero-section .hero-container .hero-wrapper .left-block .hero-actions a.app:hover svg path {
  fill: #011126;
}
@media (max-width: 992px) {
  main section.hero-section .hero-container .hero-wrapper .right-block .banner-img {
    text-align: center;
  }
}
main section.hero-section .hero-container .hero-wrapper .right-block .banner-img img {
  max-width: 100%;
  height: auto;
}
main section.services .services-container {
  padding: 140px 0px;
}
@media (max-width: 1200px) {
  main section.services .services-container {
    padding: 60px 0px 20px;
  }
}
@media (max-width: 992px) {
  main section.services .services-container {
    padding: 20px 0px;
  }
}
main section.services .services-container .heading {
  margin-bottom: 30px;
}
main section.services .services-container .heading h2 {
  font-weight: bold;
  color: #011126;
  text-align: center;
  margin: 0;
}
main section.services .services-container .body .service-items .col-lg-4 {
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  main section.services .services-container .body .service-items .col-lg-4 {
    padding: 0;
  }
}
main section.services .services-container .body .service-items .item {
  background-color: #ffffff;
  border-radius: 55px;
  height: 100%;
}
@media (max-width: 576px) {
  main section.services .services-container .body .service-items .item {
    border-radius: 20px;
  }
}
main section.services .services-container .body .service-items .item .wrapper {
  padding: 40px;
}
@media (max-width: 576px) {
  main section.services .services-container .body .service-items .item .wrapper {
    padding: 20px;
  }
}
main section.services .services-container .body .service-items .item .wrapper .image {
  text-align: left;
  margin-bottom: 15px;
}
main section.services .services-container .body .service-items .item .wrapper .header h3 {
  margin-bottom: 15px;
  color: #011126;
}
main section.services .services-container .body .service-items .item .wrapper .content p {
  font-weight: normal;
  color: #011126;
}
main section.features::after {
  content: "";
  position: absolute;
  bottom: -8%;
  left: 5%;
  z-index: 9;
  width: 11vw;
  height: 21vw;
  background-image: url(../images/ethereum.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1200px) {
  main section.features::after {
    bottom: -5%;
    left: 2%;
  }
}
@media (max-width: 992px) {
  main section.features::after {
    bottom: 0%;
    left: 3%;
    width: 100px;
    height: 180px;
  }
}
@media (max-width: 768px) {
  main section.features::after {
    bottom: -2%;
    left: unset;
    right: 25px;
    opacity: 0.6;
  }
}
main section.features .features-container {
  position: relative;
  padding: 0px 50px;
  background-color: #ffffff;
  border-radius: 50px 0px 50px 0px;
  position: relative;
  z-index: 9;
}
@media (max-width: 768px) {
  main section.features .features-container {
    padding: 0 25px;
  }
}
@media (max-width: 576px) {
  main section.features .features-container {
    padding: 0 15px;
    border-radius: 20px 0px 20px 0px;
  }
}
main section.features .features-container .features-wrapper .heading {
  margin-bottom: 30px;
}
main section.features .features-container .features-wrapper .heading h2 {
  color: #7C4ADF;
  text-align: center;
  text-transform: uppercase;
}
main section.features .features-container .features-wrapper .body {
  margin-top: 60px;
}
main section.features .features-container .features-wrapper .body .feature-items .feature {
  margin-bottom: 30px;
}
main section.features .features-container .features-wrapper .body .feature-items .feature .header h4 {
  color: #011126;
  margin-bottom: 10px;
}
main section.features .features-container .features-wrapper .body .feature-items .feature .image {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
main section.features .features-container .features-wrapper .body .feature-items .feature .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: 1;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
}
main section.features .features-container .features-wrapper .body .feature-items .feature .image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px 50px 0px 0px;
}
@media (max-width: 576px) {
  main section.features .features-container .features-wrapper .body .feature-items .feature .image img {
    border-radius: 20px 20px 0px 0px;
  }
}
main section.features .features-container .features-wrapper .body .feature-items .feature .content p {
  font-weight: normal;
}
main section.roadmap {
  padding-top: 80px;
}
@media (max-width: 1200px) {
  main section.roadmap {
    padding-top: 60px;
  }
}
@media (max-width: 992px) {
  main section.roadmap {
    padding-top: 30px;
  }
}
main section.roadmap .roadmap-container .heading {
  margin-bottom: 30px;
}
main section.roadmap .roadmap-container .heading h2 {
  color: #23B574;
  text-transform: uppercase;
  margin: 0;
}
main section.roadmap .roadmap-container .body {
  position: relative;
}
main section.roadmap .roadmap-container .body::after {
  content: "";
  position: absolute;
  top: 15%;
  left: 15%;
  width: 715px;
  height: 620px;
  background-image: url(../images/path.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 1200px) {
  main section.roadmap .roadmap-container .body::after {
    left: 10%;
  }
}
@media (max-width: 992px) {
  main section.roadmap .roadmap-container .body::after {
    top: 25%;
    left: 20%;
    width: 490px;
    height: 560px;
  }
}
@media (max-width: 768px) {
  main section.roadmap .roadmap-container .body::after {
    display: none;
  }
}
main section.roadmap .roadmap-container .body .items .col-md-6 {
  margin-bottom: 150px;
}
@media (max-width: 768px) {
  main section.roadmap .roadmap-container .body .items .col-md-6 {
    position: relative;
    margin-bottom: 80px;
    padding: 0;
  }
  main section.roadmap .roadmap-container .body .items .col-md-6:last-child {
    margin-bottom: 40px;
  }
  main section.roadmap .roadmap-container .body .items .col-md-6:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 102%;
    left: 50%;
    width: 8px;
    height: 100px;
    transform: translateX(-50%);
    background-image: url(../images/srt-path.svg);
    background-repeat: repeat;
  }
}
@media (max-width: 576px) {
  main section.roadmap .roadmap-container .body .items .col-md-6 {
    margin-bottom: 56px;
  }
}
@media (max-width: 360px) {
  main section.roadmap .roadmap-container .body .items .col-md-6 {
    margin-bottom: 36px;
  }
}
main section.roadmap .roadmap-container .body .items .item {
  max-width: 350px;
  min-height: 300px;
  background-color: #ffffff;
  padding: 35px 40px 40px;
  height: 100%;
  border-radius: 55px;
}
@media (max-width: 768px) {
  main section.roadmap .roadmap-container .body .items .item {
    margin: 0px !important;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  main section.roadmap .roadmap-container .body .items .item {
    min-height: auto;
    padding: 20px;
    border-radius: 20px;
  }
}
main section.roadmap .roadmap-container .body .items .item .wrapper .heading {
  margin-bottom: 25px;
}
main section.roadmap .roadmap-container .body .items .item .wrapper .heading h4 {
  color: #011126;
  margin: 0;
}
main section.roadmap .roadmap-container .body .items .item .wrapper .list ul {
  margin: 0;
  list-style-type: none;
}
main section.roadmap .roadmap-container .body .items .item .wrapper .list ul li {
  padding-left: 15px;
  position: relative;
}
main section.roadmap .roadmap-container .body .items .item .wrapper .list ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}
main section.roadmap .roadmap-container .body .items .item.q1 .heading h4::before, main section.roadmap .roadmap-container .body .items .item.q1 .heading h4::after {
  background-color: #23B574;
}
main section.roadmap .roadmap-container .body .items .item.q1 .heading h4 .highlight::before, main section.roadmap .roadmap-container .body .items .item.q1 .heading h4 .highlight::after {
  background-color: #23B574;
}
main section.roadmap .roadmap-container .body .items .item.q1 .list ul li::before {
  background-color: #C7FFE6;
}
main section.roadmap .roadmap-container .body .items .item.q2 {
  margin-top: 40px;
}
main section.roadmap .roadmap-container .body .items .item.q2 .heading h4::before, main section.roadmap .roadmap-container .body .items .item.q2 .heading h4::after {
  background-color: #FCD2DF;
}
main section.roadmap .roadmap-container .body .items .item.q2 .heading h4 .highlight::before, main section.roadmap .roadmap-container .body .items .item.q2 .heading h4 .highlight::after {
  background-color: #FCD2DF;
}
main section.roadmap .roadmap-container .body .items .item.q2 .list ul li::before {
  background-color: #FCD2DF;
}
main section.roadmap .roadmap-container .body .items .item.q3 {
  margin-left: auto;
}
main section.roadmap .roadmap-container .body .items .item.q3 .heading h4::before, main section.roadmap .roadmap-container .body .items .item.q3 .heading h4::after {
  background-color: #FDE5C9;
}
main section.roadmap .roadmap-container .body .items .item.q3 .heading h4 .highlight::before, main section.roadmap .roadmap-container .body .items .item.q3 .heading h4 .highlight::after {
  background-color: #FDE5C9;
}
main section.roadmap .roadmap-container .body .items .item.q3 .list ul li::before {
  background-color: #FDE5C9;
}
main section.roadmap .roadmap-container .body .items .item.q4 {
  margin-top: 40px;
  margin-left: auto;
}
main section.roadmap .roadmap-container .body .items .item.q4 .heading h4::before, main section.roadmap .roadmap-container .body .items .item.q4 .heading h4::after {
  background-color: #CDD1FC;
}
main section.roadmap .roadmap-container .body .items .item.q4 .heading h4 .highlight::before, main section.roadmap .roadmap-container .body .items .item.q4 .heading h4 .highlight::after {
  background-color: #CDD1FC;
}
main section.roadmap .roadmap-container .body .items .item.q4 .list ul li::before {
  background-color: #CDD1FC;
}
main section.token .token-container {
  position: relative;
  padding: 0px 50px;
  background-color: #ffffff;
  border-radius: 50px 0px 50px 50px;
  position: relative;
  z-index: 9;
}
@media (max-width: 576px) {
  main section.token .token-container {
    border-radius: 20px 0px 20px 20px;
    padding: 0 15px;
  }
}
main section.token .token-container .token-wrapper {
  padding-bottom: 100px;
}
@media (max-width: 576px) {
  main section.token .token-container .token-wrapper {
    padding-bottom: 60px;
  }
}
main section.token .token-container .token-wrapper .heading {
  position: absolute;
  bottom: 106%;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  main section.token .token-container .token-wrapper .heading {
    bottom: 103%;
  }
}
main section.token .token-container .token-wrapper .heading h2 {
  color: #F29125;
}
main section.token .token-container .token-wrapper .stats-content {
  padding-top: 30px;
}
main section.token .token-container .token-wrapper .stats-content .stats {
  margin-bottom: 30px;
}
main section.token .token-container .token-wrapper .stats-content .stats .field {
  margin-bottom: 10px;
}
main section.token .token-container .token-wrapper .stats-content .stats .field span {
  display: inline-block;
  color: #011126;
}
main section.token .token-container .token-wrapper .stats-content .stats .field span:first-child {
  font-weight: normal;
  max-width: 220px;
  width: 270px;
}
@media (max-width: 1200px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span:first-child {
    margin-bottom: 8px;
  }
}
@media (max-width: 992px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span:first-child {
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span:first-child {
    margin-bottom: 8px;
  }
}
@media (max-width: 1200px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span {
    display: block;
    max-width: 100%;
  }
  main section.token .token-container .token-wrapper .stats-content .stats .field span:last-child {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span {
    display: inline-block;
  }
}
@media (max-width: 700px) {
  main section.token .token-container .token-wrapper .stats-content .stats .field span {
    display: block;
    max-width: 100%;
  }
  main section.token .token-container .token-wrapper .stats-content .stats .field span:last-child {
    margin-left: 0px;
  }
}
main section.token .token-container .token-wrapper .stats-content .note {
  margin-bottom: 20px;
}
main section.token .token-container .token-wrapper .stats-content .note p {
  margin: 0;
  font-weight: normal;
  color: #011126;
}
main section.token .token-container .token-wrapper .stats-content .content {
  margin-bottom: 40px;
}
main section.token .token-container .token-wrapper .stats-content .content p {
  margin: 0;
  font-weight: normal;
  color: #011126;
}
main section.token .token-container .token-wrapper .stats-content .stat-action {
  white-space: nowrap;
}
@media (max-width: 768px) {
  main section.token .token-container .token-wrapper .stats-content .stat-action {
    white-space: normal;
  }
}
main section.token .token-container .token-wrapper .stats-content .stat-action a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
}
main section.token .token-container .token-wrapper .stats-content .stat-action a.first {
  background-color: #011126;
  border-color: #011126;
  color: #ffffff;
  margin-right: 25px;
  transition: background-color 0.3s, color 0.3s;
}
main section.token .token-container .token-wrapper .stats-content .stat-action a.first:hover {
  background-color: transparent;
  color: #011126;
}
main section.token .token-container .token-wrapper .stats-content .stat-action a.second {
  background-color: #F29125;
  border-color: #F29125;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
main section.token .token-container .token-wrapper .stats-content .stat-action a.second:hover {
  background-color: transparent;
  color: #F29125;
}
main section.token .token-container .token-wrapper .stats-content .tnc {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #011126;
}
main section.token .token-container .token-wrapper .pie-chart {
  transform: translateY(-30%) scale(1.2);
}
@media (max-width: 992px) {
  main section.token .token-container .token-wrapper .pie-chart {
    transform: translateY(0%) scale(1);
    text-align: center;
  }
}
main section.token .token-container .token-wrapper .pie-chart .pie-img img {
  max-width: 100%;
  height: auto;
  border: 20px solid #EDF5FF;
  border-radius: 100%;
}

footer {
  position: relative;
  z-index: 4;
  padding-top: 100px;
}
@media (max-width: 768px) {
  footer {
    padding-top: 60px;
  }
}
footer .footer-wrapper {
  padding: 40px 0px;
  background-color: #011126;
}
footer .footer-wrapper .footer-container {
  position: relative;
  z-index: 5;
}
footer .footer-wrapper .footer-container::before, footer .footer-wrapper .footer-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
}
footer .footer-wrapper .footer-container::before {
  top: 0;
  right: 100%;
  width: 200px;
  height: 370px;
  background-image: url(../images/ethereum-black.png);
}
@media (max-width: 1200px) {
  footer .footer-wrapper .footer-container::before {
    right: unset;
    left: 0;
  }
}
footer .footer-wrapper .footer-container::after {
  top: -40%;
  right: 0;
  width: 120px;
  height: 220px;
  background-image: url(../images/ethereum.png);
}
@media (max-width: 992px) {
  footer .footer-wrapper .footer-container::after {
    top: -30%;
  }
}
@media (max-width: 576px) {
  footer .footer-wrapper .footer-container::after {
    opacity: 0.632;
    top: -18%;
  }
}
footer .footer-wrapper .footer-container .footer-content p {
  font-weight: normal;
  color: #ffffff;
}
footer .footer-wrapper .footer-container .socials {
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  footer .footer-wrapper .footer-container .socials {
    text-align: center;
  }
}
footer .footer-wrapper .footer-container .socials a {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}
@media (max-width: 576px) {
  footer .footer-wrapper .footer-container .socials a {
    text-align: center;
  }
}
@media (max-width: 400px) {
  footer .footer-wrapper .footer-container .socials a {
    margin-right: 5px;
    width: 40px;
    height: 40px;
  }
  footer .footer-wrapper .footer-container .socials a img {
    max-width: 100%;
  }
}
footer .footer-wrapper .footer-container .credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 630px) {
  footer .footer-wrapper .footer-container .credits {
    justify-content: center;
    flex-direction: column;
  }
}
footer .footer-wrapper .footer-container .credits span {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}
footer .footer-wrapper .footer-container .credits span.highlight {
  color: #F29125;
  margin-bottom: 6px;
}
@media (max-width: 630px) {
  footer .footer-wrapper .footer-container .credits span.highlight {
    margin-bottom: 20px;
  }
}
footer .footer-wrapper .footer-container .credits span.highlight a {
  color: #F29125;
}
footer .footer-wrapper .footer-container .credits span a {
  white-space: nowrap;
}

/*# sourceMappingURL=main.css.map */
